* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

.title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.header {
    min-height: 70px;
    background-color: #454d88;
    display: flex;
    align-items: center;
}

.header__list {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    position: relative;
}

.header__item {
    margin-right: 20px;
}

.header__item:nth-child(5) {
    margin-right: 0;
    position: absolute;
    right: 0;
}

.header__item:nth-child(1) {
    position: relative;
    top: 5px;
}

.header__link {
    color: #c8c8c8;
    text-decoration: none;
    padding: 15px 0;
    transition: all 0.5s;
}

.header__link_active {
    color: white;
}

.header__link:hover {
    color: white;
}
.header__link_img {
    display: block;
    width: 50px;
    height: 50px;
}

.header__link_img > img {
    width: 100%;
}

.home__title {
    text-align: center;
    margin: 20px 0;
    font-size: 35px;
    color: #8e8d8d;
}

.home__line {
    background-color: #d4d4d4;
    width: 100%;
    height: 1px;
}

.home__news {
    width: 600px;
    min-height: 450px;
    margin: 20px 0;
}

.home__subtitle {
    margin-bottom: 20px;
    text-align: center;
    color: #8e8d8d;
}

.home__blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nome__wrapper {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

.home__block {
    border-bottom: 1px solid #d4d4d4;
    padding: 15px;
    display: flex;
}

.home__block:last-child {
    border-bottom: none;
}

.home__block_right {
    width: 475px;
}

.home__block:nth-child(2) .home__block_right {
    width: 100%;
}

.home__block_top {
    display: flex;
    justify-content: space-between;
}

.home__block_time {
    font-style: italic;
    font-size: 12px;
    color: #8e8d8d;
}

.home__block_text {
    margin-top: 5px;
    font-size: 13px;
    color: #8e8d8d;
}

.home__block_img {
    width: 85px;
    height: 100px;
    margin-right: 15px;
}

.home__block_img > img {
    width: 100%;
}

.home__btn {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #8e8d8d;
    transition: all 0.5s;
}

.home__btn_rewards {
    background-color: #f0f0f0;
    color: #000;
}

.home__btn_rewards:hover {
    color: white;
}

.home__btn:hover {
    background-color: #454d88;
}

.home__rewards {
    width: 600px;
    min-height: 450px;
    margin: 20px 0;
}

.home__rewards_img {
    width: 20px;
    height: 27px;
    margin-right: 30px;
    margin-left: 5px;
}

.home__rewards_img > img {
    width: 100%;
}

.home__rewards_wrapper {
    margin: 0 auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home__rewards_wrapper-mr {
    margin-right: 40px;
}

.home__rewards_wrapper-mb {
    margin-bottom: 0px;
}

.home__rewards_block {
    padding: 5px 15px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    font-size: 13px;
    color: #8e8d8d;
    position: relative;
}

.home__rewards_block:first-child {
    border-radius: 5px 0 0 5px;
    border-right: 0;
}

.home__rewards_block:last-child {
    border-radius: 0 5px 5px 0;
    border-left: 0;
}

.home__rewards_block:last-child:before {
    display: block;
    content: '';
    position: absolute;
    border: 1px solid #d4d4d4;
    border-right: none;
    border-top: none;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    top: 0px;
    left: -10px;
}

.home__rewards_block:first-child:before {
    display: block;
    content: '';
    position: absolute;
    border: 1px solid #d4d4d4;
    border-left: none;
    border-bottom: none;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    top: 0px;
    right: -10px;
}

.home__rewards_number {
    margin-left: 30px;
    font-size: 18px;
    font-weight: 700;
}

.homework > .container {
    position: relative;
}

.homework__title {
    text-align: center;
    margin: 20px 0;
    font-size: 35px;
    color: #8e8d8d;
}

.homework__indicator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.homework__indicator:last-child {
    margin-bottom: 0;
}

.homework__indicator > span {
    color: #8e8d8d;
    font-size: 13px;
    margin-right: 5px;
}

.homework__indicators {
    position: absolute;
    top: 0;
    right: 14px;
}

.homework__circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #8a8989;
    background-color: #e8e8e8;
}

.homework__circle_color1 {
    background-color: #4ab24a;
}

.homework__circle_color2 {
    background-color: #36b2b2;
}

.homework__circle_color3 {
    background-color: #e87070;
}

.homework__subtitle {
    margin-top: 25px;
    color: #8e8d8d;
    margin-bottom: 0;
    font-size: 23px;
}

.homework__subtitle_mt {
    margin-top: 40px;
}

.homework__line {
    background-color: #d4d4d4;
    width: 100%;
    height: 1px;
    margin-top: 10px;
}

.homework__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.homework__wrapper_mb {
    margin-bottom: 20px;
}

.homework__block {
    margin-top: 15px;
    padding: 10px;
    width: 400px;
    height: 155px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    background-color: #e8e8e8;
}

.homework__block_color1 {
    background-color: #4ab24a;
}

.homework__block_color3 {
    background-color: #e87070;
}

.homework__block_color2 {
    background-color: #36b2b2;
}

.homework__block_title {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.homework__block_number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 30px;
    height: 17px;
    background-color: green;
    border-radius: 10px;
}

.homework__block_title-white {
    color: white;
}

.homework__block_date {
    margin: 20px 0;
    color: #8e8d8d;
}

.homework__block_date-white {
    color: white;
}

.homework__form {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    background-color: white;
    display: flex;
}

.homework__form_bg {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
}

.homework__form_text {
    width: 275px;
    outline: none;
    border: none;
    height: 100%;
    padding: 0 10px;
    color: #4e4d4d;
    background-color: rgba(0, 0, 0, 0);
}

.homework__form_btn {
    border: none;
    width: 105px;
    border-radius: 0 5px 5px 0;
    border-left: 1px solid #cacaca;
    color: #4e4d4d;
    transition: all 0.5s;
}

.homework__form_button {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.5s;
}

.homework__form_button:first-child:hover {
    background-color: #454d88;
    border-radius: 5px 0 0 5px;
}

.homework__form_button:last-child:hover {
    background-color: #454d88;
    border-radius: 0 5px 5px 0;
}

.homework__form_button:first-child {
    border-right: 1px solid white;
}

.homework__form_button:last-child {
    border-left: 1px solid white;
}

.homework__form_btn:hover {
    background-color: #454d88;
    color: white;
}

.homework__form_img {
    width: 20px;
    height: 28px;
    margin-right: 10px;
}

.homework__form_img > img {
    width: 100%;
}

.settings__title {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 35px;
    color: #8e8d8d;
}

.settings__wrapper {
    display: flex;
    justify-content: space-between;
}

.settings__block {
    margin-top: 20px;
    width: 40%;
}

.settings__block_margin {
    margin: 20px 15px 0 20px;
}
.settings__bg {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: #9bc2ee;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #0b3f78;
}

.settings__bg_position {
    width: 100%;
    height: 50px;
    background-color: #9bc2ee;
    border-radius: 5px;
    position: relative;
    top: -440px;
    z-index: -1;
}

.settings__bg_left {
    border-radius: 5px 0 0 5px;
}

.settings__bg_right {
    border-radius: 0 5px 5px 0;
}

.settings__form {
    display: flex;
    flex-direction: column;
}

.settings__block1 {
    width: 200px;
}

.settings__img {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px auto;
}

.settings__img > img {
    width: 100%;
}

.settings__btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #8e8d8d;
    color: white;
    transition: all 0.5s;
}

.settings__btn:hover {
    background-color: #454d88;
}

.settings__form_input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    padding: 0 10px;
    margin-bottom: 15px;
    outline: none;
}

@media (max-width: 1399px){
    .home__news {
        width: 540px;
    }

    .home__rewards {
        width: 540px;
    }

    .home__block_right {
        width: 415px;
    }
    .homework__block_margin {
        margin: 15px auto 0 auto;
    }
}

@media (max-width: 1199px) {
    .home__news {
        width: 450px;
    }

    .home__rewards {
        width:450px;
    }

    .home__block_right {
        width: 315px;
    }

    .home__block_img {
        height: 91px;
    }
}

@media (max-width: 991px) {
    .home__blocks {
        justify-content: center;
    }
    .home__news {
        width: 540px;
    }

    .home__rewards {
        width: 540px;
    }

    .home__block_right {
        width: 415px;
    }

    .homework__block {
        width: 340px;
    }
    .settings__wrapper {
        flex-wrap: wrap;
    }
    
    .settings__block_adaptiv {
        width: 460px;
    }

    .settings__block_adaptiv > .settings__bg {
        border-radius: 5px
    }
    .settings__block_margin {
        margin: 20px 0px 0 20px;
    }
    .settings__bg_position {
        top: -775px;
    }

    .settings__block:last-child {
        margin: 40px auto 20px auto;
    }
}

@media (max-width: 767px) {
    .home__title {
        font-size: 32px;
    }

    .homework__title {
        font-size: 32px;
    }

    .settings__title {
        font-size: 32px;
    }

    .homework__wrapper {
        justify-content: center;
    }
    .homework__block {
        width: 400px;
    }
    .settings__bg_position {
        display: none;
    }

    .settings__block_margin {
        margin: 20px 0px 0 0;
    }
    .settings__wrapper {
        justify-content: center;
    }
    .settings__bg {
        border-radius: 5px;
    }
}


@media (max-width: 575px) {
    .header__list {
        flex-direction: column;
    }

    .header__item {
        margin: 10px 0;
        margin-right: 0px;
    }

    .header__item:nth-child(1) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        margin: 0;
    }

    .header__item:nth-child(5) {
        margin: 0;
        top: 50%;
        transform: translateY(-60%);
    }

    .home__news {
        width: 400px;
    }
    .home__rewards {
        width: 400px;
    }
    .home__block_right {
        width: 275px;
    }

    .home__block_img {
        height: 80px;
        width: 75px;
    }

    .homework__indicator > span {
        font-size: 11px;
    }

    .homework__circle {
        width: 15px;
        height: 15px;
    }

    .homework__subtitle {
        font-size: 20px;
    }

    .homework__block {
        width: 380px;
    }

    .homework__form_text {
        width: 255px;
    }

    .settings__block1 {
        width: 100%;
    }

    .settings__form_input {
        height: 35px;
        margin-bottom: 10px;
        font-size: 14px;
    }
}

@media (max-width: 424px) {
    .home__title {
        font-size: 30px;
    }

    .homework__title {
        font-size: 30px;
    }

    .settings__title {
        font-size: 30px;
    }

    .home__news {
        width: 350px;
    }

    .home__rewards {
        width: 350px;
    }

    .home__block_right {
        width: 245px;
    }

    .home__block_subtitle {
        font-size: 14px;
    }

    .home__block_text {
        font-size: 12px;
    }

    .home__block_img {
        height: 55px;
        width: 55px;
    }
    .home__rewards {
        margin-top: 0;
    }

    .home__rewards_block {
        font-size: 10px;
    }

    .home__rewards_block:first-child:before {
        width: 25px;
        height: 25px;
        right: -9px;
    }

    .home__rewards_block:last-child:before {
        width: 25px;
        height: 25px;
        left: -8px;
    }

    .home__rewards_number {
        font-size: 15px;
    }

    .home__rewards_img {
        width: 15px;
    }

    .home__rewards_wrapper-mr {
        margin-right: 30px;
    }

    .homework__block {
        width: 300px;
    }
    .homework__form_text {
        width: 175px;
    }
}

@media (max-width: 374px) {
    .home__news {
        width: 305px;
    }

    .home__rewards {
        width: 305px;
    }
    .home__block_right {
        width: 215px;
    }

    .home__block_img {
        height: 30px;
        width: 30px;
    }

    .home__rewards_block {
        padding: 5px;
    }

    .homework__title {
        font-size: 25px;
    }

    .settings__title {
        font-size: 25px;
    }

    .homework__subtitle {
        font-size: 17px;
    }

    .homework__indicators {
        top: 30px;
    }

    .homework__subtitle {
        margin-top: 60px;
    }

    .homework__block {
        width: 280px;
    }
    .homework__form_text {
        width: 160px;
    }
}