* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

.title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.header {
    min-height: 70px;
    background-color: #454d88;
    display: flex;
    align-items: center;
}

.header__list {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    position: relative;
}

.header__item {
    margin-right: 20px;
}

.header__item:nth-child(5) {
    margin-right: 0;
    position: absolute;
    right: 0;
}

.header__item:nth-child(1) {
    position: relative;
    top: 5px;
}

.header__link {
    color: #c8c8c8;
    text-decoration: none;
    padding: 15px 0;
    transition: all 0.5s;
}

.header__link:hover {
    color: white;
}
.header__link_img {
    display: block;
    width: 50px;
    height: 50px;
}

.header__link_img > img {
    width: 100%;
}

.home__title {
    text-align: center;
    margin: 20px 0;
    font-size: 35px;
    color: #8e8d8d;
}

.home__line {
    background-color: #d4d4d4;
    width: 100%;
    height: 1px;
}

.home__news {
    width: 600px;
    min-height: 450px;
    margin: 20px 0;
}

.home__subtitle {
    margin-bottom: 20px;
    text-align: center;
    color: #8e8d8d;
}

.home__blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nome__wrapper {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

.home__block {
    border-bottom: 1px solid #d4d4d4;
    padding: 15px;
    display: flex;
}

.home__block:last-child {
    border-bottom: none;
}

.home__block_right {
    width: 475px;
}

.home__block:nth-child(2) .home__block_right {
    width: 100%;
}

.home__block_top {
    display: flex;
    justify-content: space-between;
}

.home__block_time {
    font-style: italic;
    font-size: 12px;
    color: #8e8d8d;
}

.home__block_text {
    margin-top: 5px;
    font-size: 13px;
    color: #8e8d8d;
}

.home__block_img {
    width: 85px;
    height: 100px;
    margin-right: 15px;
}

.home__block_img > img {
    width: 100%;
}

.home__btn {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #8e8d8d;
    transition: all 0.5s;
}

.home__btn_rewards {
    background-color: #f0f0f0;
    color: #000;
}

.home__btn_rewards:hover {
    color: white;
}

.home__btn:hover {
    background-color: #454d88;
}

.home__rewards {
    width: 600px;
    min-height: 450px;
    margin: 20px 0;
}

.home__rewards_img {
    width: 20px;
    height: 27px;
    margin-right: 30px;
    margin-left: 5px;
}

.home__rewards_img > img {
    width: 100%;
}

.home__rewards_wrapper {
    margin: 0 auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home__rewards_wrapper-mr {
    margin-right: 40px;
}

.home__rewards_wrapper-mb {
    margin-bottom: 0px;
}

.home__rewards_block {
    padding: 5px 15px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    font-size: 13px;
    color: #8e8d8d;
    position: relative;
}

.home__rewards_block:first-child {
    border-radius: 5px 0 0 5px;
    border-right: 0;
}

.home__rewards_block:last-child {
    border-radius: 0 5px 5px 0;
    border-left: 0;
}

.home__rewards_block:last-child:before {
    display: block;
    content: '';
    position: absolute;
    border: 1px solid #d4d4d4;
    border-right: none;
    border-top: none;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    top: 0px;
    left: -10px;
}

.home__rewards_block:first-child:before {
    display: block;
    content: '';
    position: absolute;
    border: 1px solid #d4d4d4;
    border-left: none;
    border-bottom: none;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    top: 0px;
    right: -10px;
}

.home__rewards_number {
    margin-left: 30px;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 1399px){
    .home__news {
        width: 540px;
    }

    .home__rewards {
        width: 540px;
    }

    .home__block_right {
        width: 415px;
    }
}

@media (max-width: 1199px) {
    .home__news {
        width: 450px;
    }

    .home__rewards {
        width:450px;
    }

    .home__block_right {
        width: 315px;
    }

    .home__block_img {
        height: 91px;
    }
}

@media (max-width: 991px) {
    .home__blocks {
        justify-content: center;
    }
    .home__news {
        width: 540px;
    }

    .home__rewards {
        width: 540px;
    }

    .home__block_right {
        width: 415px;
    }
}

@media (max-width: 767px) {
    .home__title {
        font-size: 32px;
    }
}


@media (max-width: 575px) {
    .header__list {
        flex-direction: column;
    }

    .header__item {
        margin: 10px 0;
        margin-right: 0px;
    }

    .header__item:nth-child(1) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        margin: 0;
    }

    .header__item:nth-child(5) {
        margin: 0;
        top: 50%;
        transform: translateY(-60%);
    }

    .home__news {
        width: 400px;
    }
    .home__rewards {
        width: 400px;
    }
    .home__block_right {
        width: 275px;
    }

    .home__block_img {
        height: 80px;
        width: 75px;
    }
}

@media (max-width: 424px) {
    .home__title {
        font-size: 30px;
    }

    .home__news {
        width: 350px;
    }

    .home__rewards {
        width: 350px;
    }

    .home__block_right {
        width: 245px;
    }

    .home__block_subtitle {
        font-size: 14px;
    }

    .home__block_text {
        font-size: 12px;
    }

    .home__block_img {
        height: 55px;
        width: 55px;
    }
    .home__rewards {
        margin-top: 0;
    }

    .home__rewards_block {
        font-size: 10px;
    }

    .home__rewards_block:first-child:before {
        width: 25px;
        height: 25px;
        right: -9px;
    }

    .home__rewards_block:last-child:before {
        width: 25px;
        height: 25px;
        left: -8px;
    }

    .home__rewards_number {
        font-size: 15px;
    }

    .home__rewards_img {
        width: 15px;
    }

    .home__rewards_wrapper-mr {
        margin-right: 30px;
    }
}

@media (max-width: 374px) {
    .home__news {
        width: 305px;
    }

    .home__rewards {
        width: 305px;
    }
    .home__block_right {
        width: 215px;
    }

    .home__block_img {
        height: 30px;
        width: 30px;
    }

    .home__rewards_block {
        padding: 5px;
    }
}